.forecast{
    background-color:#fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    color: #000;
}


.forecast .title{
    padding: 20px 0;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
}

.forecast .title::after{
    position: absolute;
    background-color: #000;
    content: '';
    display: block;
    margin:5px auto;
    border-radius: 9999px;
    width: 20px;
    height: 4px;
}

.weather-details{
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}

.weather-details .image{
    width: 30px;
}

.weather-details .day{
    padding: 0 5px;
}

.weather-details .center{
    text-transform: capitalize;
}

.weather-details .last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-details .last span{
    color: #636e72;

}

.more-details{
    background-color: #fff;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
